@import "react-slideshow-image/dist/styles.css";

.collection_games_slide{
    margin: 40px 0 40px 0;
    .image{
        width: 100%;
        height: 470px;
        background-size: cover;
        background-position-x: center;
    }
    button.nav.default-nav{
        background: transparent;
        background-color: rgba(255, 255, 255, 0.274);
    }

}

@media (min-width: 200px) and (max-width: 400px){
    .collection_games_slide{
        .image{
            height: 200px;   
        }
    }
}
@media (min-width: 400px) and (max-width: 800px){
    .collection_games_slide{
        .image{
            height: 400px;   
        }
    }
}

