@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

html{
    background-image: linear-gradient(rgb(14, 9, 53),rgb(65, 2, 2));
    //background-image: linear-gradient(rgb(158, 9, 9),rgb(34, 7, 134));
}

.gameById{
    color: white;
    margin:  0px 120px 0px 120px ;
    font-family: 'Spartan', sans-serif;
    background-image: linear-gradient(rgba(20, 19, 29, 0.89),rgba(0, 0, 0, 0.89));    padding: 15px;
    border-radius: 40px;
    height: 100%;
    padding: 15px;

    h1{
        font-size: 45px;
    }

    p{
        text-align: justify;
    }

    .error{
        text-align: center;
    }
    
    h2{
        margin-top: 10px;
    }

    .background-image{
        margin: 0 auto;
        width: 46vw;
        height: 50vh;
        background-size:auto;
        background-position: center;
        border-radius: 5px;
    }

}

@media (max-width: 800px){
    .gameById{
        margin: 5px;
    }
}