
.about-me{
    font-family: 'Spartan', sans-serif;
    color: whitesmoke;
    text-align: justify;
    margin: 0 140px 40px 140px;
    background-image: linear-gradient(rgba(20, 19, 29, 0.89),rgba(0, 0, 0, 0.89));    padding: 15px;
    border-radius: 40px;
    box-shadow: 0 0 1em rgb(0, 0, 0);

    p{
        font-size: 15px;
    }
    .image{
        width: 30px;
        height: 20px;
    }
}