
.footer{
    background-color: rgba(0, 0, 0, 0.493);
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 200px;
    width:100%;

a{
    color: whitesmoke;
}
a:hover{
    color: rgb(16, 186, 216);
}
}