
.footer{
    background-color:rgba(20, 19, 29, 0.555);
    position:relative;
    bottom:0;
    margin-bottom: 0;
    width:100%;

a{
    color: whitesmoke;
}
a:hover{
    color: rgb(16, 186, 216);
}
}