
.about-me{
    font-family: 'Spartan', sans-serif;
    color: whitesmoke;
    text-align: justify;
    margin: 0 200px 40px 200px;
    background-color: rgba(0, 0, 0, 0.527);
    padding: 15px;
    border-radius: 40px;
    box-shadow: 0 0 1em rgb(0, 0, 0);

    h3{
        font-size: 25px;
    }
    p{
        font-size: 25px;
    }
    .image{
        width: 30px;
        height: 20px;
    }
}

@media (max-width: 800px){
    .about-me{
        margin: 5px;
    }
}