@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.gamesListPage {
    margin: auto;
    text-align: center;
    color: whitesmoke;
    font-family: 'Russo One', sans-serif;

    .filtro{
        width: 50%;
        height: 30px;
        margin-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        background-color: whitesmoke ;
        border-style: none;
        border-radius: 10px;
    }

    .filtro:focus{
        outline: none;
    }
}
